<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="card-title">Striped progressmbar</div>
        <div class="progress m-t-20">

          <div class="progress-bar bg-primary progress-bar-striped active"
          style="height: 10px;"
          role="progressbar"
          [style.width]="getProgress1">

          </div>

        </div>


        <div class="progress m-t-20">

          <div class="progress-bar bg-success progress-bar-striped active"
          style="height: 10px;"
          role="progressbar"
          [style.width]="getProgress2">
          </div>

        </div>

      </div>
    </div>
  </div>
</div>




<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementor-bar (emitProgressPercent)="progress1 = $event"
        [progress]="progress1" [btnClass]="'btn-primary'" >
      </app-incrementor-bar>

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementor-bar (emitProgressPercent)="progress2 = $event"
         [progress]="progress2" [btnClass]="'btn-success'">
        </app-incrementor-bar>

      </div>
    </div>
  </div>

</div>
